body{
    background: url('https://us.123rf.com/450wm/maya23k/maya23k1901/maya23k190100345/115065130-school-supplies-on-blue-wooden-background.jpg?ver=6') no-repeat;
    background-size: cover;
    height: 80%;
}
#navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 12px 20px;
    border-radius: 23px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: rgb(41, 41, 68);
    background-color: rgb(166, 166, 192);
    cursor: pointer;
}

#display-message{
    margin: 12px 12px;
    padding: 5px 5px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.primary{
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    font-size: 40px;
}

.text{
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
}

.details{
    border: 2px solid black;
    width: fit-content;
    margin-left: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details .form-group{
    margin: 12px;
}

.details input{
    border: 2px solid black;
    border-radius: 9px;
}

.details textarea{
    border: 2px solid black;
    border-radius: 12px;
}

.details label{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    font-weight: bold;
}

.submit-btn{
    font-family: 'Bree Serif', serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}


#social ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#social::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#social ul li{
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;;
    font-weight: bold;
}

#social ul li a{
    color: black;
    display: block;
    padding: 12px 20px;
    border-radius: 23px;
    text-decoration: none;
}

#social img{
    height: 30px;
    margin-left: 50px;
    
}

.secondary{
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    font-weight: bolder;
    color: beige;
}
